Source: regolith-scripts
Section: x11
Priority: optional
Maintainer: Ken Gilmer <kgilmer@gmail.com>
Build-Depends: debhelper (>= 11)
Standards-Version: 4.1.3
Homepage: https://regolith-linux.org/

Package: regolith-scripts
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, regolith-styles
Description: Scripts for Regolith Linux
 Provides scripts to load and manage Regolith configuration files.